@model IEnumerable<Models.System>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListSystem</title>
</head>
<body>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectorName)
            </td>
            <td>
                <a href="/Home/AddStar?id=@item.SystemID">Add Star</a>
                <br />
                <a href="/Home/SystemToStarList?id=@item.SystemID">System's stars</a>
                <br />
                <a href="/Home/UpdateSystem?id=@item.">Update System</a>
                <br />
                <a href="/Home/DeleteSystem?id=@item.SystemID">Delete</a>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("DeleteSystem", "DeleteSystem", new { id = item.SystemID })*@
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
